table, thead, tr,  td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
}
/*
table, thead + tr > th , tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
*/
th{
    background-color: lightslategray;  
}

table table ~ tbody > tr{
    background-color: beige;
}


tbody tr:hover{
    background-color: red !important;
}


table tbody > tr:nth-child(odd){
    background-color: cornsilk; 
}
table tbody > tr:nth-child(even){
    background-color: cadetblue; 
}
.Anyád{
    background-color: aliceblue;
}